@media screen and (min-width:768px){

    header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 40px;
    }
    
    .navigation{
    display:flex;
    flex-direction:row;
    gap:25px;
    }
    
    .gallery{
    grid-template-columns:repeat(3,1fr);
    }
    
    }